<div class="container">
  <div class="card form-container">
    <div class="row m-0">
      <div class="input-field col m6 s12">
        <input placeholder="Nombre" type="text">
        <label>Nombre</label>
      </div>
      <div class="input-field col m6 s12">
        <input placeholder="Descripción" type="text">
        <label>Descripción</label>
      </div>
    </div>
    <div class="row">
      <div class="col m10 offset-m1 s12">
        <h5 style="border-bottom: 1px solid #9e9e9e" class="pb-8 col s12">Módulos</h5>
        <table class="col s12 striped responsive-table">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Solo lectura</td>
              <td>Lectura y escritura</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Activación</td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in"/>
                  <span>L</span>
                </label>
              </td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in"/>
                  <span>E</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>Activación y recarga</td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in"/>
                  <span>L</span>
                </label>
              </td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in"/>
                  <span>E</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
