<form class="col s12">
  <div class="row">
      <div class="input-field big-field col s6 offset-s3">
        <i class="material-icons prefix">email</i>
        <input id="password" type="email" [formControl]="mail" placeholder="Email">
      </div>
      <div class="col s12 center-align mb-8">
          <span class="font-red " *ngIf="mail.errors?.email">Este campo debe ser un email</span>
          <span class="font-red " *ngIf="mail.errors?.required && isSubmitted">Este campo es requerido</span>
        </div>
      <div class="col s6 offset-s3">
          <div class="row">
              <div class="col s4 p-0">
                  <button class="waves-effect waves-light btn blue accent-1 btn-ag-sec" [routerLink]="['..']">
                    Cancelar
                  </button>
              </div>
              <div class="col s4 offset-s4 p-0">
                  <button class="waves-effect waves-light btn blue accent-1 btn-ag-sec" (click)="sendMail()"> 
                    Enviar
                  </button>
              </div>
          </div>
      </div>
  </div>
    <!-- <div class="preloader-wrapper active" *ngIf="isLoading">
        <div class="spinner-layer spinner-blue-only center-align">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div> -->
</form>
